<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(to right,  #ffc107, #2c4481);">
</div>

<div class="container-fluid mt--7">
  <div class="row mt-2">
    <div class="col">
      <div class="table-responsive">
        <div class="container-fluid">
          <div class="card border-0 shadow px-1">
            <div class="detailsAgentScroll">
              <div class="card-header text-white d-flex justify-content-end align-items-center rounded-top" style="background-color:#e37431">
                <div type="button" [routerLink]="['/client/accueil']">
                  <i class="fas fa-sign-out-alt"></i>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <h1 class="MontserratB align-self-center">{{ client.firstName }} {{ client.lastName }}</h1>
                    <hr class="col-sm-12">
                    <dl class="row">
                      <dt class="col-sm-4 Lato text-primary">N° téléphone</dt>
                      <dd class="col-sm-8 Lato">{{ client.phoneNumber }}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">Email</dt>
                      <dd class="col-sm-8 Lato">{{ client.email }}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">Solde du compte</dt>
                      <dd class="col-sm-8 Lato">{{ wallet.balance }}</dd>
                      <hr class="col-sm-12">
                      <dt class="col-sm-4 Lato text-primary">Type du compte</dt>
                      <dd class="col-sm-8 Lato">{{ client.typeHissab }}</dd>
                      <hr class="col-sm-12">
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>